body { 
 background-image: url("../resources/charity4.jpg");
 background-repeat: no-repeat;
 background-position: center center-fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.control-label{
     margin:10px 0px 0px 0px; 
}
.form-control{
    position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;  
  font-size: 16px;
  margin: 10px 0px 10px 0px;b0c4de;
}
.form-btn{
  width:40%;
  margin-left: 28%;
  margin-bottom: 5%;
  margin-top: 14px;
}

.form-group{
  max-width: 400px;
}

.panel-default{
  background-color:#fefefa;
  max-width:475px;
  padding-left:35px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.center{
  position: absolute;
  top: 25%; 
  left:22%; 
  }

  .form-heading{
      max-width: 400px;
  margin-bottom: 30px;
  text-align: center;
  }
  
  h4{
   font-color:red;
   text-align:center;
  }